<!DOCTYPE html>
<html lang="zh-CN" class="html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>敦海文化传播</title>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<script src="__PUBLIC__/js/jquery.min.js"></script>-->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="navbar-header" style="margin: 10px;">
                <a href="{:U('Index/index')}">
                    <img class="lazyImg" src="__PUBLIC__/img/logo.png" data-original="__PUBLIC__/img/logo.png"
                         width="120" height="120" style="margin-left: 25px;"></a></div>
            <div class="nav navbar-nav navbar-left" id="bs-example-navbar-collapse-6"
                 style="margin:20px;font-size: 24px;height: 100%">
                <h2 style="text-align: center">新闻资讯</h2><br>
            </div>
        </div>
    </div>
    <div class="list-group">
        <foreach name="news" item="item">
            <a href="{:U('NewsInfo/index',array('id'=>$item['id']))}" class="list-group-item">
                <h4 class="list-group-item-heading">{$item['newstitle']}</h4>
                <h6 class="list-group-item-text">发布时间:{$item['date']}</h6>
                <h6 class="list-group-item-text">{$item['newsinfo']}</h6>
            </a>
        </foreach>
    </div>
    <nav aria-label="Page navigation" class="nav navbar-nav navbar-right" style="margin-right: 30px;">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>