<!DOCTYPE html>
<html lang="zh-CN" class="html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>敦海文化传播-关于我们</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
    <!---->
    <link rel="stylesheet" href="__PUBLIC__/css/index.css">
    <!---->
</head>

<body>

<div class="container">


    <!--首页标题-->
    <div class="row">
        <div class="container-fluid">
            <div class="navbar-header-center" style="margin: 10px ;text-align: center;">
                <a href="{:U('Index/index')}">
                    <img class="lazyImg" src="__PUBLIC__/img/logo.png" data-original="__PUBLIC__/img/logo.png"
                         width="300px" height="300px">
                </a>
            </div>
        </div>
        <div>
            <h2 style="text-align: center">关于我们</h2><br>

            <div>
                <p class="navbar-text">
                    上海敦海文化传媒有限公司是经国家工商行政管理局注册，上海省文化厅批准成立的专业文化演艺演出经纪机构。整体机构实力雄厚并由多名资深的文化艺术精英及演出经纪人组成。
                    主要从事大型活动晚会策划、外籍艺人引进、开业庆典、礼仪活动策划、明星演出、明星代言、明星演唱会、艺人签约推广、企业品牌推广策划、等项目。并且在长期的实践中积累着丰富的
                    演艺经纪与活动策划组织能力，成功在全国各地策划多场大型演唱会、大型企业晚会、开业庆典、礼仪活动等。与国内多家卫视综艺栏目保持着良好的合作关系。<br>
                    敦海公司由经纪人丁永丰先生与陈子祺女士联合发起。与全国众多大型剧院保持着密切的合作，比如全国著名的斯卡拉演艺 、红旗大剧院、天龙演艺、等等。如今敦海文化融入了更多的
                    资深经纪人和音乐人的加盟以及更多合作单位的支持。</p>
                <br>
                <h4 class="navbar-text">服务内容：</h4>
                <ul>
                    <li class="navbar-text">
                        经营演出及经纪业务、艺术编导、演艺策划、音乐创作、词曲交易转让、礼仪服务、艺人经纪代理、新人包装推广、广告设计、会务会展服务、舞台舞美设计、舞台设备代理租赁、组织文化艺术交流、策划文体赛事等活动。
                    </li>
                    <li class="navbar-text">
                        提供明星资源、整合、开发、推广，艺人签约、海内外明星经纪、组织策划承办大型演唱会、企业品牌代言、政府旅游项目推广、全程策划明星主题晚会、代邀符合演出主题的明星艺人、并代理租赁专业灯光音响设备及舞台舞美工程，演出制作等业务。
                    </li>
                </ul>
                <p class="navbar-text">敦海文化旗下目前设立有《长沙敦海文化工作室》,合作机构《郑州云之扬传媒集团》; 广州、北京、郑州、长沙公司凭借强有力的势力分别汇聚了众多的音乐创作人、演出经纪人、资深广告人、制作发行人、活动策划人等高级精英，在全国形成独特的一条龙连锁运作网络。</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--底部的版本及声明-->
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <address>
                    <strong>上海敦海文化传播有限公司</strong><br>
                    <abbr title="Phone">联系电话:</abbr> (123) 456-7890
                </address>
            </div>
            <div class="col-md-6">
                <address>
                    <strong>联系人:</strong><br>
                    陈子祺<br>
                    <a href="mailto:#">first.last@example.com</a>
                </address>
            </div>
        </div>
    </div>
</div>


</body>

</html>